<h5><%= link_to "View party", event %></h5>
<p>Host: <%= link_to event.creator.name, event.creator %> | Location: <%= event.location %> | <%= event.date.in_time_zone("Mountain Time (US & Canada)").strftime("%B %e, %l:%M%P") %></p>
<%= event.description %><hr>